/* Misc
------------------------------ */

.clear {
	clear: both;
}
.hidden {
	display: none !important;
}
.sep {
	margin: 0 .5em;
	color: #888;
}
.centered {
	text-align: center;
}


/* Headers with rules */

.h-rule {
	position: relative;
	display: table;

	.hr-name {
		position: relative;
		display: table-cell;
		width: 2%;
		padding: 0 .75em;
		white-space: nowrap;
	}
	.hr {
		position: relative;
		display: table-cell;
		width: 49%;
		vertical-align: middle;
		overflow: hidden;
	}
		.hr:before,
		.hr:after {
			content: '';
		}
		.hr:before {
			display: block;
			height: 2px;
		}
		.hr:after {
			position: absolute;
			width: 2px;
			height: 8px;
			margin-top: -5px;

			.ie8 & {
				right: 0;
			}
		}
		.hr:first-child:after {
			left: 0;
		}
		.hr:last-child:after {
			right: 0;
		}

	&.t-grey {
		color: #595959;

		.hr:before,
		.hr:after {
			background-color: #CCC;
		}
	}

	&.t-purple {
		color: #595980;

		.hr:before,
		.hr:after {
			background-color: #C3C3D2;
		}
	}

	&.t-green {
		color: $c-green-dark;

		.hr:before,
		.hr:after {
			background-color: $c-green-light;
		}
	}
}


/* Leaf */

.i-leaf {
	width: 48px;
	height: 75px;
	background: url(../images/leaf-ls@2x.png) no-repeat;
	background-size: 48px 75px;

	.ie8 & {
		background-image: url(../images/leaf-ls.png);
	}
}


/* Hiring */

#hiring {
	margin: 0;

	a {
		position: absolute;
		top: 120px;
		left: 0;
		width: 107px;
		height: 73px;
		background: url(../images/hiring.png) no-repeat 0 0;
		text-indent: -9999em;
		z-index: 1000;
	}
}


/* Main button */

input.button {
	display: inline-block;
	margin: 0;
	border: 2px solid $c-form-focus-border;
	@include border-radius(5px);
	padding: 10px 30px;
	background: #9ACF9F url(../images/b-submit.gif) repeat-x 0 0;
	color: #000;
	font: bold 1em $f-sansserif;
	text-decoration: none;
	text-shadow: 0 1px 0 #E7FFD5;
	white-space: nowrap;

	&:hover,
	&:active {
		border-color: #116746;
		background-color: #55B166;
		background-position: 0 -50px;
		color: #FFF;
		text-shadow: 0 1px 0 #393;
		cursor: pointer;
	}
}

input.button-big--flat {
	border: 2px solid #006644;
	padding: 0.8em 4em 0.9em;
	background: #006644 none;
	color: #FFF;
	text-shadow: none;
	@include box-shadow(none);

	&:hover {
		border-color: #007951;
		background: #007951 none;
	}
	&:disabled {
		border-color: #cdd4d2;
		background: #cdd4d2 none;
		color: #e5ebe9;
	}
}


/* Tooltips */

.tooltip {
	position: absolute;
	max-width: 180px;
	@include border-radius(3px);
	padding: .5em .75em;
	background-color: #262626;
	background-color: rgba(0, 0, 0, 0.85);
	font-size: .8125em;
	@include box-shadow(0 1px 3px rgba(0, 0, 0, .3));
	z-index: 65000;

	p {
		margin: 0;
		color: #FFF;
		font-size: .85em;
		line-height: 1.4;

		span {
			color: #999;
		}
	}
}


/* Global Notification (IE6 Support) */

#global-notification {
	margin: 0;
	border-bottom: 3px solid #E5A400;
	padding: 1.5em .5em;
	background-color: #FFE066;
	color: #000;
	font-weight: bold;
	font-size: .8em;
	text-align: center;
	overflow: hidden;

	p {
		margin: 0;
	}
	a {
		color: #900;
	}
}
